In [1]:
## import libraries
import pandas as pd

In [2]:
pd.read_csv("data/NCHS-table-2023-3-7.csv")

    Year Quarter   Months  Uninsured Adults aged 18-64
0   2019      Q1  Jan-Mar                         13.3
1   2019      Q2  Apr-Jun                         14.1
2   2019      Q3  Jul-Sep                         15.9
3   2019      Q4  Oct-Dec                         15.3
4   2020      Q1  Jan-Mar                         13.9
5   2020      Q2  Apr-Jun                         13.0
6   2020      Q3  Jul-Sep                         14.1
7   2020      Q4  Oct-Dec                         14.5
8   2021      Q1  Jan-Mar                         13.8
9   2021      Q2  Apr-Jun                         14.2
10  2021      Q3  Jul-Sep                         13.0
11  2021      Q4  Oct-Dec                         13.1
12  2022      Q1  Jan-Mar                         11.8
13  2022      Q2  Apr-Jun                         12.5
14  2022      Q3  Jul-Sep                         12.6